@media only screen and (max-width: 960px) {

  body,
  .page,
  #formContainer {
    width: auto;
  }

  html {
    margin: 0;
  }

  button~button {
    margin-left: auto;
  }

  button {
    display: block;
    margin: 5px 0;
    margin-left: auto;
    margin-right: auto;
  }

  .cartao {
    display: block;
    width: auto;
    margin: 10px;
    padding: 0 0 10px 0;
  }

  .cartao img { 
    max-width:  60vw;
    min-width:  60vw;
    max-height: 30vh;
    min-height: 30vh;
  }

  hr {
    width: 100%;
  }

  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    width: 70vw;
  }

  #casa, #apartamento {
    display: inline;
  }

  .menuLeft,
  .menuRight {
    display: none;
  }

}