@charset "utf-8";

/*******/
/*fonts*/
/*******/

/*
@font-face{
	font-family:'agency';
	src:url("fonts/agency.ttf");
}
*/

/*************/
/*HTML*básico*/
/*************/

/*
html {
  font-family: 'agency';
}
*/

body {
  margin-top: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  margin: 0;
  color: #fff;
  letter-spacing: .5px;
  line-height: 1em;
  padding: .5em;
  text-align: center;
}

p {
  color: #fff;
  font-size: 1.1em;
  font-family: 'calibri';
  text-align: center;
  letter-spacing: .03em;
  line-height: 1.2em;
  /* padding: 1em; */
  margin-bottom: 2%;
  background: #111;
  border: 1px solid #222;
}

a:link,
a:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  line-height: inherit;
}

button {
  color: #fff;
  background: #333;
  padding: 5px;
  border: 1px solid #232323;
  align-items: center;
  margin: 5px 0;
}

button:hover {
  background: #89a;
}

button ~ button {
  margin-left: 5px;
}


.required {
  color: #a00;
}

/*********/
/*Imagens*/
/*********/

.cartao img { /* quebrar as linhas das imagens */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  max-width: 20vw;
  min-width: 20vw;
  max-height: 20vw;
  min-height: 20vw;
}

/*
.cartao img:hover {
  max-width: 350px;
  min-width: 350px;
}
*/

/******/
/*menu*/
/******/

#menu {
  width: 100%;
}

#menu ul {
  padding: 0 10px;
  font-size: 1.5rem;
  color: #999;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  background: #0006;
}

#menu ul li {
  padding: 0 20px;
  display: inline;
  margin-left: 0;
  letter-spacing: 0;
  text-transform: uppercase;
  background: #000;
}

#menu ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

#menu ul li:hover {
  background: #222;
}

/************/
/*formulário*/
/************/

#formContainer {
  width: 65%;
  margin: 0 auto;
  background: #0000;
  padding: 5px;
  border: none;
  margin-bottom: 20px;
}

#formImovel, #formDados {
  border: 1px solid #222;
  padding: 0; 
}

#formDados {
  display: none;
  background: #000;
}

fieldset {
  background: #0a0a0a;
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  width: 100%;
  font-family: "calibri";
  color: #fff;
  background: #333;
  text-transform: uppercase;
  padding: 0 0 3px 0;
  margin-bottom: 10px;
}

label {
  font-size: 1.15em;
  color: #999;
}

.labelRadio {
  color: #fff;
}

input {
  border: 1px solid #666;
  margin-bottom: 5px;
  font-size: 1em;
  width: 12vw;
}

#casa, #apartamento {
  width: auto;
}

#status {
  display: none;
  text-align: center;
  padding: 10px;
}

/*******/
/*cards*/
/*******/

.cartao {
  display: inline-block;
  width: 30%;
  word-wrap: break-word;
  margin: 5px;
  padding: 0 0 5px 0;
  background: linear-gradient(#0a0a0a, #0f0f0f, #131313, #111, #222, #333, #444);
}

.cartao:hover {
  /* background: #333; */
  /* border: 1px solid #393; */
  box-shadow: 0 0 5px #999;
}

.cartao p {
  padding: 0 10px;
  border: none;
  background: #2228;
  /* seletores para limitar o tamanho */
  min-height: 150px;
  max-height: 150px;
  /* modificar o posicionamento do texto */
  overflow: auto;
  text-align: left;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

.cartao h2 {
  background: rgba(48, 48, 48, .3);
  margin-top: 0;
}

.cartao img:hover {
	filter: saturate(2.5);
	/* filter: grayscale(100%); */
	/* filter: contrast(100%); */
	/* filter: brightness(1.2); */
	/* filter: blur(1px); */
	/* filter: invert(100%); */
	/* filter: sepia(100%); */
	/* filter: hue-rotate(180deg); */
	/* filter: opacity(50%); */
}

.spanCard {
  color: #999;/**/
}

/**************/
/* misc*buttons/
/**************/

#hide {
	top: 0;
	right: 0;
	position: fixed;
	opacity: 0.25;
	width: auto;
	height: auto;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 1);
	text-align: left;
	font-size: 1rem;
	line-height: 1em;
	padding: 12px 7px 0 7px;
}

#hide:hover {
	opacity: 1;
}

#color {
  top: 0;
  right: 5%;
  position: fixed;
  opacity: 0.25;
  width: auto;
  height: auto;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 1);
  text-align: left;
  font-size: 1rem;
  line-height: 1em;
  padding: 12px 7px 0 7px;
}

#color img {
  opacity: .85;
}

#color:hover {
  opacity: 1;
  background: rgba(96, 96, 96, 1);
}

/****************/
/*menus*laterais*/
/****************/

.menuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  visibility: visible;
}

.menuTitle {
  font-size: 1.15em;
  margin-left: 0;
  color: #999;
  padding: 3px;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
}

/*
.menuTitle:hover {
  background-color: #666;
}
*/

#menuLeft,
#menuRight {
  width: auto;
  font-size: 1rem;
  position: fixed;
  line-height: 1.25em;
  letter-spacing: 1px;
  padding: 0;
  background: #000;
  text-align: center;
  border-top: 3px solid #222;
}

#menuLeft {
  margin-left: 0;
  left: 0;
}

#menuRight {
  margin-right: 0;
  right: 0;
}

#menuLeft a:hover,
#menuRight a:hover {
  color: #5454dd;
  width: auto;
  font-size: 1.25em;
}

.menuItem {
  padding: 3px;
  border-bottom: 1px solid #222;
  line-height: 20px;
}

/****************/
/*headers*&*body*/
/****************/

.page {
  text-align: center;
  color: #fff;
  background: rgba(10, 10, 10, .65);
}

.headerA {
  text-transform: uppercase;
  font-size: 3.5em;
  color: #fff;
  background: #0a0a0a;
}

.headerA a:hover {
  background: #222;
}

.headerB {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: 0 0 #000;
  color: #999;
  background: #0a0a0a;
  background-image: url("img/bin.gif");
  padding: 10px;
}

.body {
  background-image: none;
}

.headerA,
.headerB,
.body {
  background-position: top center;
}
/***********/
/*scrollbar*/
/************

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 20px; */
}
 
/* handle */
::-webkit-scrollbar-thumb {
  background: #333; 
  /* border-radius: 20px; */
}

/* background */
::-webkit-scrollbar-track-piece {
  background: #aaa;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #89a; 
}

/********/
/*footer*/
/********/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: .5em;
  background-color: #000;
}

.footerAuthor {
  color: #666;
  font-size: 1rem;
  padding: 10px;
  background-image: url("img/bin.gif");
  font-family: 'calibri';
  background-position: top center;
}

.footerLinks {
  font-size: 1.5em;
  color: #fff;
  padding: 10px 0;
  text-transform: uppercase;
}

.footerLinks a {
  padding: 0 20px;
}

.footerLinks a:hover {
  background: #222;
}

/***********/
/* up/down */
/***********/

.bt {
	margin-top: 10px;
	padding: 5px;
	text-align: center;
	border: 1px solid #222;
	background: #000;
}

.shape {
	position: fixed;
	right: 7px;
	opacity: .5;
	height: 22px;
	width: 22px;
	padding: 0;
	border-radius: 3px;
}

.shape:hover {
	opacity: 1;
  border: 1px solid #aaa;
	box-shadow: 0 0 12px #aaa;
}

.shape:before {
	content: "";
	border: inherit;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	background: transparent;
	min-height: 0;
}

.shape.up:before {
	transform: rotate(-135deg);
	margin-top: 8px;
}

.shape.down:before {
	transform: rotate(45deg);
	margin-top: 5px;
}

.up {
	bottom: 60px;
}

.down {
	bottom: 30px;
}